:root{
  --cor-fundo: #184f2e ;
  --cor-principal: #3e545a ;
  --cor-secundaria:#206d6b; 
  --cor-destaque: #15f271;
  --cor-texto: #D7F9FF;

}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.caixa-principal{
  background-color: var(--cor-principal);
  width: 90%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
}

h1{
  color: var(--cor-destaque);
}

button {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  border: none;ou com medo do que essa tecnologia pode fazer. Sentiu mais facilidade em utilizar seus próprios recursos para escrever seu trabalho. Vem impulsionando a inovação na área de IA e luta para abrir novos caminhos profissionais com IA. Acelerou o processo de criação de trabalhos utilizando geradores de imagem e
  padding: 15px;
  transition: background-color 0.3s;
}

button:hover{
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
}